
#chat {
    display: inline-block;
    width: 30%;
}



#output {
    max-height: 70vh;
    overflow: auto;   
}

#output p{
    padding: 14px 0px;
    margin: 0 20px;
    color: white;
}

#input-section {
    position: absolute;
    bottom: 0px;
    width: 30%;
}


input::placeholder {
    color: #fff;
}

#feedback p{
    color: #fff;
    padding: 14px 0px;
    margin: 0 20px;
}

#output strong{
    color: rgb(34, 34, 34);
    /* #dd4814 */
}

label{
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}

input{
    padding: 10px 20px;
    box-sizing: border-box;
    /* background: #eee; */
    
    border: 0;
    display: block;
    width: 100%;
    /* background: #fff; */
    background-color: #bb4b4c;
    border-bottom: 1px solid ;
    font-family: Nunito;
    font-size: 16px;
}

button{
    /* background: #575ed8; */
    background-color: #dd4814;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 2px 2px;
}

